body,
html {
    background-color: #252525;
}

.c-navigator--navigator {
    background-color: #00ffff;
}

.c-navigator--header-content .c-navigator--nav_wrap .c-navigator--item:hover {
    background-color: #00caca;
}

.c-navigator--header-content .c-navigator--user_wrap .c-navigator--message_wrap:hover {
    background-color: #00caca;
}

.c-navigator--header-content .c-navigator--ide_link {
    background-color: #00ff00;
}

.c-navigator--header-content .c-navigator--ide_link:hover {
    background-color: #00d100;
}

.r-work--info_container .r-work--focus_btn {
    background: #00ffff;
}

.c-comment--comment_sender .c-comment--comment_btn {
    background: #00ffff;
}

.c-comment--comment_sender .c-comment--comment_btn:hover {
    background-color: #00caca;
}

.c-pagination--btn.c-pagination--page-container .c-pagination--activePage {
    background-color: #00ffff;
    border-color: #252525;
}

.r-work--info_container .r-work--account_name {
    color: #00ffff;
    text-shadow: 1px 3px 5px #00ffff;
}

.as {
    width: 200px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    background-color: #fec433;
    box-shadow: 0 0 5px #888888;
}
