body {
    background-color: #255252;
}

.c-navigator--navigator {
    background-color: #00ffff;
}

.c-navigator--header-content .c-navigator--nav_wrap .c-navigator--item:hover {
    background-color: #00caca;
}

.c-navigator--header-content .c-navigator--ide_link {
    background-color: #00ff00;
}

.c-navigator--header-content .c-navigator--ide_link:hover {
    background-color: #00d100;
}

.r-work--info_container .r-work--focus_btn {
    position: absolute;
    right: 15px;
    top: 12px;
    background: #00ffff;
    border-radius: 4px;
    width: 62px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    margin-left: 118px;
    margin-top: 2px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
}

.c-comment--comment_sender .c-comment--comment_btn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #00ffff;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    right: 0;
    top: 0;
    border-radius: 4px;
    cursor: pointer;
}

.c-comment--comment_sender .c-comment--comment_btn:hover {
    background-color: #00caca;
}

.c-pagination--btn.c-pagination--page-container .c-pagination--activePage {
    background-color: #00ffff;
    border-color: #252525;
}
